@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto+Mono:ital@0;1&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: papayawhip;
    /* background: linear-gradient(to right, blue
    , black); */
}

h1 {
    border-bottom: 2px solid rgb(0, 128, 0);
    text-align: center;
    /* background-color: hsla(120, 54%, 46%, 0.696);
     */
    background-color: black;
    color: aliceblue;
}

h2 {
    margin-top: 6rem;
    font-weight: bolder;
    text-align: center;
}

nav {
    border: 2px solid greenyellow;
    margin-top: 0.5px;
    padding: 0.7rem 0;
}

a {
    padding: 0.5rem 1rem;
    border: 2px solid greenyellow;
    background-color: rgba(0, 128, 0, 0.849);
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: aliceblue;
    color: black;
}

main {
    min-height: 100%;
}

section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 5rem 0;
}

form {
    background:radial-gradient(papayawhip, #daa52073);
    border: 2px solid green;
    padding: 4rem;
    font-weight: bold;
    font-size: 1.5rem;
}

form p {
    text-align: center;
    width: 70vw;
    background-color: inherit;
}

label {
    background-color: inherit;
}

input {
    margin: 2rem;
    font-size: 1.5rem;
}

form p a {
    padding: 0 1.2rem;
    color: inherit;
    border: 2px solid papayawhip;
    background-color: rgba(218, 165, 32, 0.662);
    font-size: 1.5rem;
}